.card {
    margin: 1em;
    width: 60%;
}
.desc {
    margin-bottom: 1em;
    margin-top: 1em !important;
}
.myHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.cont {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1900px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}