.card {
    max-width: 300px;
    min-width: 250px;
    margin: 10px;
}
img {
    min-height: 200px;
    background-size: cover;
    border-radius: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

.myContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bColor {
    background-color: cornsilk;
}

.high {
    border: 5px solid green;
}

.low {
    border: 5px solid red;
}

.total {
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}