<app-header (showBucket)="onBucketVisible()"></app-header>

<app-bucket *ngIf="isBucketVisible"></app-bucket>

<div class="myContainer" *ngIf="!isBucketVisible">
  <app-trip *ngFor="let item of trips" [trip]="item" [max]="getHighCost()" [min]="getLowCost()" (deleted)="onDeleted($event)"></app-trip>
</div>

<div class="add" *ngIf="!isBucketVisible">
    <button mat-fab color="warn" (click)="openDialog()">+</button>
</div>


<mat-toolbar color="primary" *ngIf="!isBucketVisible">
  <mat-toolbar-row>
    <span>
      Total trips sell:
      <span class="badge badge-light" [class.green]="getTotalSale() >= 10" [class.red]="getTotalSale() < 10">
        {{getTotalSale()}}
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>