
<div class="view">
    <div class="myContainer">
        <app-trip *ngFor="let item of trips" [trip]="item" (deleted)="onDeleted($event)"></app-trip>
        
      </div>
      <app-bucketSummary></app-bucketSummary>
      
      <div class="add">
          <button mat-fab color="warn" (click)="openDialog()">+</button>
      </div>
      
</div>




<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      Total trips sell:
      <span class="badge badge-light" [class.green]="totalSale >= 10" [class.red]="totalSale < 10">
        {{totalSale}}
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>