.myContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1em;
    margin-top: 6px;
}
.filter {
    margin: 1em;
}

app-bucketSummary {
    margin: 1em;
    width: 20em;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.add {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
.view {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 855px) {
    .myContainer {
        justify-content: center;
    }
    .view {
        flex-direction: column-reverse;
        align-items: center;
    }
    app-bucketSummary {
        width: 300px;
    }
}