.card {
    width: 15vw;
    min-width: 300px;
    margin: 10px;
}

.bColor {
    background-color: cornsilk;
}

img {
    min-height: 200px;
    background-size: cover;
    border-radius: 50%;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
}

.high {
    border: 5px solid green;
}

.low {
    border: 5px solid red;
}

mat-chip {
    margin: 1em;
}