<mat-card class="card" [class.bColor]="trip.capacity - trip.capacityUsed <= 3" [class.low]="trip.cost == min"
  [class.high]="trip.cost == max">
  <mat-card-header>

    <mat-card-title-group class="marg">
        <mat-card-title>{{trip.country | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{trip.name | uppercase}}</mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-title-group>
        <mat-card-subtitle>{{trip.cost | currency: 'PLN '}}</mat-card-subtitle>
        
      </mat-card-title-group>
  </mat-card-header>
  <img mat-card-image src="{{trip.photoLink}}" routerLink="/detail/{{trip.id}}">
  <mat-card-content>
    <p>{{trip.description | slice:0:70}} ...</p>
    <mat-chip-list>
        <mat-chip color="primary" selected *ngIf="trip.capacity - trip.capacityUsed > 0">
            {{trip.capacity - trip.capacityUsed}} free spot</mat-chip>
          <mat-chip color="warn" selected *ngIf="trip.capacity - trip.capacityUsed == 0">No free spot</mat-chip>
    </mat-chip-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="add()" [hidden]="trip.capacityUsed == trip.capacity">+</button>
    <button mat-button (click)="resign()" [hidden]="trip.capacityUsed == 0">-</button>
    <button mat-button *ngIf="isAdmin">
      <mat-icon (click)="removeTrip()" aria-hidden="false" aria-label="Example user verified icon">delete</mat-icon>
    </button>
    <button mat-button routerLink="/detail/{{trip.id}}" routerLinkActive="active">details</button>
  </mat-card-actions>
</mat-card>