mat-chip-list {
  padding-left: 10px;
}
mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star {
  margin-top: 0.5em;
  font-size: 2em;
  color: #d3d3d3;
}
.full {
  color: red;
}
ngb-rating {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}


.example-full-width {
  width: 100%;
}

.opinion {
  width: 100%;
  display: flex;
  justify-content: center
}

.com {
  margin-right: 1em;
  width: 60%;
}

.rating {
  width: 20%;
  height: 140px;
}
.comment {
  margin-bottom: 1em;
}

.spacer {
  width: 1em;
}

@media screen and (max-width: 900px) {
  .opinion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .com {
    width: 100%;
    margin-right: 0em;
  }
  .rating {
    margin-top: 1em;
    width: 50%;
  }

}