<mat-card class="empty" *ngIf="products.length==0">
  Sorry, Your bucket is empty!
</mat-card>

  <table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="products" *ngIf="products.length >0">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price [PLN]</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{getTotalcost()}} PLN </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      <mat-footer-cell *matFooterCellDef> Total trips </mat-footer-cell>
    </ng-container>
    
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.capacityUsed}}</mat-cell>
      <mat-footer-cell *matFooterCellDef> {{getTotalTrips()}} </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef='expandedDetail'>
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
              <button mat-button routerLink="/detail/{{element.id}}" routerLinkActive="active">details</button>
              <button mat-button (click)="removeOne(element)" [hidden]="element.capacityUsed == 0">-</button>
              <button mat-button (click)="addOne(element)" [hidden]="element.capacityUsed == element.capacity">+</button>
            <button mat-button (click)="resign(element)">Delete</button>
          </div>
        </div>
      </td>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </mat-row>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

  </table>

<div class="actions">
  <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Example user verified icon">arrow_back</mat-icon>Go back
  </button>
  <button mat-flat-button color="primary" (click)="clear()" [disabled]="products.length == 0">
    <mat-icon aria-hidden="false" aria-label="Example user verified icon">clear_all</mat-icon>Clear
  </button>
  <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active" (click)="buy()" [disabled]="products.length == 0">
    <mat-icon aria-hidden="false" aria-label="Example user verified icon">payment</mat-icon>Buy
  </button>
</div>