.card {
    max-width: 350px;
    min-width: 300px;
    margin: 10px;
}
.conta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.empty {
    margin: 1em;
}
.summary {
    margin: 1em;
    padding: 2em;
    width: 20vw;
}

.summ {
    display: flex;
    justify-content: center;
}